*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  color: #fff;
  font-display: swap;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 0.75rem+1.5vw, 2rem);
  line-height: 1.6;
  min-block-size: 100vh;
  --bg-default: #ffffff;
  --bg-color: #b1efe3;
  --font-color: #003049;
  --pink: #ffccbc;
}
body {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-block-size: 100vh;
  margin-inline: 28px;
}
a {
  color: #e1affd;
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style-type: none;
}
section {
  background-color: #000;
  border: 1px groove rgba(255 255 255 / 0.1);
  border-radius: 0.25rem;
  margin-block-start: 32px;
  max-inline-size: 66ch;
  padding: 16px;
}
footer {
  margin-block-end: 1rem;
}
#prerequisites dl dd {
  margin-inline-start: 24px;
}
#prerequisites dt {
  font-weight: 600;
  margin-block-start: 16px;
}
#prerequisites a {
  text-decoration: underline;
}
.last-p {
  margin-block-start: 32px;
}
