*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  color: var(--font-color);
  font-display: swap;
  font-family: 'Sora',sans-serif;
  font-size: clamp(1rem,0.75rem+1.5vw,2rem);
  line-height: 1.6;
  min-block-size: 100vh;
  --bg-default: #ffffff;
  --bg-color: #b1efe3;
  --font-color:#003049;
  --pink: #ffccbc;
}
body {
  align-items: center;
  background-color: var(--bg-color);
  background-image: linear-gradient(to right,var(--bg-color),var(--pink));
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-inline-size: 300px; */
  min-block-size: 100vh;
  margin-inline: 28px;
}
a {
  /* color: currentColor; */
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
section {
  background-image: linear-gradient(225deg, rgba(177, 239, 227, .45), rgba(177, 239, 227, .45) 30%, rgba(255, 204, 188, .71) 85%);
  border-radius: 16px;
  box-shadow: 4px 4px 4px 4px var(--bg-color);
  margin-block-start: 32px;
  max-inline-size: 66ch;
  padding: 16px;
}
#prerequisites dl dd {
  margin-inline-start: 24px;
}
#prerequisites dt {
  font-weight: 600;
  margin-block-start: 16px;
}
#prerequisites a {
  text-decoration: underline;
}
.last-p {
  margin-block-start: 32px;
}